# Shell aliases

if [ $(uname) = 'Linux' ]; then
	alias ls='ls --color=never'
	alias grep='grep --color=never'
fi

alias l='ls -CFA'
alias ll='ls -ahlF'

alias cp='cp -i'
alias mv='mv -i'

alias rg='rg --color=never'
alias dnf='dnf --color never'
